@charset "utf-8";
.content { padding-top: 180px; clear:both; width: 100%; } 
.vs { width: 1200px; height: 657px; position:relative;
    margin: 0 auto; }
.vs .img_box { 1200px; height: 657px; overflow:hidden; }    
.vs .img_fr { width: 400%; transition-duration:0.6s; }
.vs .img_fr li { width: 25%; float:left; }
#ra1:checked ~ .img_box .img_fr { margin-left: 0;     }   
#ra2:checked ~ .img_box .img_fr { margin-left:-1200px;     }    
#ra3:checked ~ .img_box .img_fr { margin-left:-2400px;     } 

.ra { display:none; }    
.arr_box li { display:none; }    
#ra1:checked ~ .arr_box li:first-child { display:block; }  
#ra2:checked ~ .arr_box li:nth-child(2) { display:block; }
#ra3:checked ~ .arr_box li:last-child { display:block; }    

.arr_box label { display:block; background-color: transparent;
    width: 30px; height: 50px; background-image:url("./img/slide_arrow.png"); background-position:center center; background-repeat: no-repeat; 
    position:absolute; top:42%; cursor:pointer; z-index:10; }  
.arr_box .prev_btn {  left:-10%;   transform:rotate(180deg); }  
.arr_box .next_btn {  right:-10%;    }  

.arr_box li:first-child .prev_btn { display:none; }    
.arr_box li:last-child .next_btn { display:none; }    

.tit_box li { position:absolute; left: -100px; bottom:10px; 
    z-index:20; width: 600px; height: 300px;  background-color:transparent; }
.vs_tit {  line-height: 1.3; padding-left: 36px; font-size:32px; }    
.vs_com { padding-top: 18px; padding-left: 36px; }
.vs_arrow { display:block; width: 81px; height: 81px; 
    background-image:url("./img/sec1_btn_more.png"); 
    background-position:center center; background-repeat: no-repeat; position:absolute; right:-30px; bottom:40px;
    z-index:30;
    display:none; cursor:pointer; }

.tit_box li:first-child { background-color:rgba(255,255,255,1);
    border:1px solid #ccc; }

.tit_box li .vs_tit { opacity:0; visibility:hidden; transition-duration:0.6s; }    
.tit_box li .vs_com { opacity:0; visibility:hidden; transition-duration:0.6s; } 
#ra1:checked ~ .tit_box li:first-child .vs_tit { opacity:1; visibility: visible; }   
#ra1:checked ~ .tit_box li:first-child .vs_com { opacity:1; visibility: visible; } 
#ra2:checked ~ .tit_box li:nth-child(2) .vs_tit { opacity:1; visibility: visible; }   
#ra2:checked ~ .tit_box li:nth-child(2) .vs_com { opacity:1; visibility: visible; } 
#ra3:checked ~ .tit_box li:last-child .vs_tit { opacity:1; visibility: visible; }   
#ra3:checked ~ .tit_box li:last-child .vs_com { opacity:1; visibility: visible; }

#ra1:checked ~ .tit_box li:first-child .vs_arrow { display:block; }  
#ra2:checked ~ .tit_box li:nth-child(2) .vs_arrow { display:block; } 
#ra3:checked ~ .tit_box li:last-child .vs_arrow { display:block; }  
.vs_num_box { position:absolute; z-index:30; top:43.5%; 
    right:-5%; font-size:20px; font-weight:500; }
.vs_num_box .cur_num { font-weight: 700; }  

.page { clear:both; width: 100%; }    
.page_wrap { clear:both; padding-top:120px; width: 1440px; margin: 0 auto;   }    
.lst_box1 { width: 1200px; margin: 0 auto; }    
.lst_box1 li { width: 380px; margin-right: 30px; float:left; 
    position:relative; height: 550px; margin-bottom: 100px; cursor: pointer; }
.lst_box1 li:last-child { margin-right: 0; } 
.lst_box1 li img { display:block; width: 380px; height: 550px; } 
.more { display:block; width: 64px; height: 64px; position:absolute; bottom: 0; right: 0; z-index:10; 
    background-image: url("./img/sec2_btn_more.jpg"); }  
.lst_tit_box { width: 400px; height: 200px; background-color:#fff; position:absolute; left:-300px; bottom:-90px; z-index:20; opacity:0; visibility:hidden; transition-duration:0.5s; border:1px solid #eee; }
.lst_box1 li:hover .lst_tit_box { opacity:1; visibility: visible; left: 40px; }    
.lst_tit { padding-left: 30px;    }
.lst_com { padding-left: 30px; font-size: 14px;  padding-right: 30px;   }   
.detail { position:absolute; bottom:16px; right:16px; 
    color:brown; text-decoration:underline; font-size:13px; word-break:break-all; text-align:justify; }  


#page2 { background-image: url("./img/page2_bg.png"); 
background-repeat: repeat-y; background-position:center top;  min-height:100vh; }   
#page2 .page_wrap { min-height:100vh; } 
.lst_box2 { clear:both; width: 1440px; margin: 0 auto; position:relative; min-height:100vh; }   
.lst_box2 .ban_box1 { width: 50%; float:left; height: 100vh;
    padding-top:150px; padding-bottom: 150px;     }

.ban_box1 .box1 { clear:both; width: 100%; height:40px; overflow:hidden;  }
.ban_box1 .box1 .box1_fr { clear:both; width: 100%; height:120px; transition-duration:0.5s;  }
.ban_box1 .box1 li { clear:both; height: 40px; }    
.ban_box1 .box1 .ban_tit { font-size:16px; line-height: 40px;
    height: 40px; padding-top: 0; }  
.ban_box1 .box2 { padding-top:20px; width: 500px; height: 500px; position:relative;  overflow:hidden; }  
.ban_box1 .box2 .box2_fr { width: 1500px; height: 500px; 
    transition-duration:0.5s; }
.ban_box1 .box2 .box2_fr li { float:left; width: 500px; height: 500px; }   
.ban_box1 .box2 .box2_fr li img { display:block; width: 100%; height: auto; }    
.ban_box1 .box3 { clear:both; width:400px; height: 80px; padding-top: 20px; overflow:hidden; }
.ban_box1 .box3 .box3_fr { width: 1200px; height: 80px; 
    position:relative; }
.ban_box1 .box3 .box3_fr li { width: 330px; height: 80px; float:left; padding-right: 70px; position:absolute; left: -400px; top: 0; transition:0.5s; } 
.ban_box1 .box3 .box3_fr li .ban_com {  font-size:14px;  }    
.ban_box1 .box4 { width: 250px; height: 64px; margin-top: 25px; clear:both; background-color:#000; position:relative; border:1px solid #999; overflow: hidden; }  
.ban_box1 .box4 .ban_more { display:block; width: 250px; height: 64px; line-height: 64px; background-image:url("./img/btn_black_arrow.png"); 
    background-repeat: no-repeat; background-position:185px center; text-indent:40px; color:#fff; position:absolute; top: 0; left: 0; z-index:4; overflow:hidden; }  
.ban_box1 .box4:before { content:""; display:block; width: 250px; height: 64px; background-color:#fff; position:absolute; left: -250px; top: 0; z-index:3; transition-duration:0.5s; }
.ban_box1 .box4:hover .ban_more { background-image:url("./img/btn_black_arrow_on.png"); color:#000; }
.ban_box1 .box4:hover::before { left: 0; }


.lst_box2 .ban_box2 { width: 580px; float:right; height: 100vh;
    padding-top:150px; padding-bottom: 150px; } 
.lst_box2 .ban_box2 .box1 { width: 580px; height: 777px; clear: both; overflow:hidden; }
.lst_box2 .ban_box2 .box1 .box1_fr { width: 580px; height: 2400px; transition-duration:1s; transition-delay: 0.4s; 
    transition-timing-function:ease-out; }    
.lst_box2 .ban_box2 .box1 li { width: 580px; height: 777px; clear:both; overflow:hidden; }  
.lst_box2 .ban_box2 .box1 li img { display:block; width: 580px; height: 777px; transform:scale(2); transition-duration:0.5s; }    
.lst_box2 .ban_box2 .box2 { width: 580px; height: 40px; padding-top: 20px; overflow:hidden; }  
.lst_box2 .ban_box2 .box2 .box2_fr { width: 1800px; height: 40px; transition:0.5s; } 
.lst_box2 .ban_box2 .box2 .box2_fr li { width: 580px; height: 40px; float:left; }    
.lst_box2 .ban_box2 .box2 .box2_fr li .ban_com { font-weight:600; font-size:16px; } 

.lst_box2 .ban_box3 label { display:block; width: 72px; height: 25vh; position:absolute; line-height: 72px; left:50%; margin-left: -36px; z-index:10; writing-mode:vertical-lr; font-size:24px; font-weight:700;  cursor: pointer; border-left:3px solid transparent; } 
.lst_box2 .ban_box3 label.item1 {  top:12.5vh;   }
.lst_box2 .ban_box3 label.item2 {  top:37.5vh;   }    
.lst_box2 .ban_box3 label.item3 {  top:62.5vh;   }  

.ba { display:none; }    
#ba1:checked ~ .lst_box2 .ban_box1 .box1 .box1_fr { margin-top: 0; }
#ba2:checked ~ .lst_box2 .ban_box1 .box1 .box1_fr { margin-top: -40px; }
#ba3:checked ~ .lst_box2 .ban_box1 .box1 .box1_fr { margin-top: -80px; }    

#ba1:checked ~ .lst_box2 .ban_box1 .box2 .box2_fr { margin-left: 0; }   
#ba2:checked ~ .lst_box2 .ban_box1 .box2 .box2_fr { margin-left: -500px; }  
#ba3:checked ~ .lst_box2 .ban_box1 .box2 .box2_fr { margin-left: -1000px; }
#ba1:checked ~ .lst_box2 .ban_box1 .box3 .box3_fr { }    

#ba1:checked ~ .lst_box2 .ban_box1 .box3 .box3_fr li.item1 { 
    left: 0; } 
#ba2:checked ~ .lst_box2 .ban_box1 .box3 .box3_fr li.item2 { 
    left: 0; }
#ba3:checked ~ .lst_box2 .ban_box1 .box3 .box3_fr li.item3 { 
    left: 0; }
#ba1:checked ~ .lst_box2 .ban_box2 .box1 .box1_fr { margin-top: 0; } 
#ba2:checked ~ .lst_box2 .ban_box2 .box1 .box1_fr { margin-top: -777px; }
#ba3:checked ~ .lst_box2 .ban_box2 .box1 .box1_fr { margin-top: -1554px; }   
#ba1:checked ~ .lst_box2 .ban_box2 .box1 li.item1 img { transform: scale(1); }
#ba2:checked ~ .lst_box2 .ban_box2 .box1 li.item2 img { transform: scale(1); }
 #ba3:checked ~ .lst_box2 .ban_box2 .box1 li.item3 img { transform: scale(1); }
#ba1:checked ~ .lst_box2 .ban_box2 .box2 .box2_fr { margin-left: 0; }    
#ba2:checked ~ .lst_box2 .ban_box2 .box2 .box2_fr { margin-left: -580px; }
#ba3:checked ~ .lst_box2 .ban_box2 .box2 .box2_fr { margin-left: -1160px; }    

#ba1:checked ~ .lst_box2 .ban_box3 label.item1 { border-left:3px solid deepskyblue; color:deepskyblue; } 
#ba2:checked ~ .lst_box2 .ban_box3 label.item2 { border-left:3px solid deepskyblue; color:deepskyblue; }
#ba3:checked ~ .lst_box2 .ban_box3 label.item3 { border-left:3px solid deepskyblue; color:deepskyblue; }


#page3 .page_wrap { padding-top: 0; }    
.lst_box3 { clear:both; width: 1440px; margin: 0 auto; } 
.lst_box3 li { float:left; margin-right: 56px; }    
.lst_box3 li.col1 { width: 189px;    } 
.lst_box3 li.col2 { width: 735px;    }    
.lst_box3 li.col3 { width: 404px; margin-right: 0;    }

.lst_box3 li .vtit { writing-mode:vertical-rl; float:right; }   .lst_box3 li .htit { clear:both; position:absolute; right:0; 
    top:160px; }
.lst_box3 li.col1 .md_box { width: 189px; position:relative; }
.lst_box3 li .md_box a { display:block; }
.lst_box3 li.col1 .md_box .pg3_tit_box { height: 180px; margin-bottom: 56px; }   
.lst_box3 li.col1 .md_box a { height: 180px; margin-bottom: 56px; }   
.lst_box3 li .md_box a img { display:block; width: 100%; }  
.lst_box3 li.col2 .md_box .fl { float:left; width: 189px; margin-right: 20px; margin-top: 56px; }
.lst_box3 li.col2 .md_box .fl2 { float:left; width: 317px; margin-top: 56px; overflow:hidden; }    
.lst_box3 li.col2 .md_box .fl2 img { width: auto; height: 189px; }    
.lst_box3 li.col3 .fl { float:left; width: 200px; margin-right: 4px; display:block; height: 200px; overflow:hidden; margin-bottom: 56px; position:relative; } 
.lst_box3 li.col3 .fl:nth-child(2) { margin-right: 0; }    
.lst_box3 li.col3 .fl .htit2 { position: absolute; right:0; 
    top: 160px; color:#333; z-index:90; text-indent:0; 
    padding-top: 0; line-height:1; }  
.lst_box3 li.col3 .fl img { display:block; width: 100%; }  
.lst_box3 li.col3 .fl2 { clear:both; width: 404px; }
.lst_box3 li.col3 .fl2 img { display:block; width: 100%; } 